<script type="text/javascript">
    jumplink = window.jumplink || {};
    jumplink.templates = window.jumplink.templates || {};

    jumplink.templates['oc-select'] = '<?= $this->makeTrimedPartial("components/oc-select") ?>';
    jumplink.templates['oc-checkbox'] = '<?= $this->makeTrimedPartial("components/oc-checkbox") ?>';
    jumplink.templates['oc-popup'] = '<?= $this->makeTrimedPartial("components/oc-popup") ?>';

    jumplink.templates['snippet-editor'] = '<?= $this->makeTrimedPartial("components/snippet-editor") ?>';
    jumplink.templates['snippet-itemlist'] = '<?= $this->makeTrimedPartial("components/snippet-itemlist") ?>';
    jumplink.templates['snippet-item'] = '<?= $this->makeTrimedPartial("components/snippet-item") ?>';
    jumplink.templates['snippet-properties-form'] = '<?= $this->makeTrimedPartial("components/snippet-properties-form") ?>';
    jumplink.templates['snippet-item-search-form'] = '<?= $this->makeTrimedPartial("components/snippet-item-search-form") ?>';
    
</script>