<li
    class="snippet-item"
>
    <div>
        <a href="#" data-snippet-item-link>
            <span class="name">{item.name}</span>
            <span class="comment">{item.description}</span>
        </a>

        <ul class="submenu">
            <li>
                <p>
                    <a href="javascript:;" data-control="create-item">
                        <i class="icon-plus"></i> <?= trans(e($this->addSubitemLabel)) ?>
                    </a>
                </p>
            </li>
            <li>
                <p>
                    <a href="javascript:;" data-control="delete-snippet-item">
                        <i class="icon-trash-o control-icon"></i>
                    </a>
                </p>
            </li>
        </ul>
    </div>
</li>