.control-treelist ol{padding:0;margin:0;list-style:none}
.control-treelist ol ol{margin:0;margin-left:15px;padding-left:15px;border-left:1px solid #dbdee0}
.control-treelist > ol > li > div.record:before{display:none}
.control-treelist li{margin:0;padding:0}
.control-treelist li > div.record{margin:0;font-size:12px;margin-bottom:5px;position:relative;display:block}
.control-treelist li > div.record:before{color:#bdc3c7;font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;content:"\f111";font-size:6px;position:absolute;left:-18px;top:11px}
.control-treelist li > div.record > a.move{display:inline-block;padding:7px 0 7px 10px;text-decoration:none;color:#bdc3c7}
.control-treelist li > div.record > a.move:hover{color:#4ea5e0}
.control-treelist li > div.record > a.move:before{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;content:"\f0c9"}
.control-treelist li > div.record > span{color:#666666;display:inline-block;padding:7px 15px 7px 5px}
.control-treelist li.dragged{position:absolute;z-index:2000;width:auto !important;height:auto !important}
.control-treelist li.dragged > div.record{opacity:0.5;filter:alpha(opacity=50);background:#4ea5e0 !important}
.control-treelist li.dragged > div.record > a.move:before,.control-treelist li.dragged > div.record > span{color:white}
.control-treelist li.dragged > div.record:before{display:none}
.control-treelist li.placeholder{display:inline-block;position:relative;background:#4ea5e0 !important;height:25px;margin-bottom:5px}
.control-treelist li.placeholder:before{display:block;position:absolute;font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;content:"\f053";color:#d35714;left:-10px;top:8px;z-index:2000}
.control-treeview{margin-bottom:40px; }
.control-treeview ol{margin:0;padding:0;list-style:none;background:#ffffff}
.control-treeview ol li.snippet-item{-webkit-transition:width 1s;transition:width 1s}
.control-treeview ol li.snippet-item > div{font-size:14px;font-weight:normal;background:#ffffff;border-bottom:1px solid #ecf0f1;position:relative}
.control-treeview ol li.snippet-item > div > a{color:#2b3e50;padding:11px 45px 10px 61px;display:block;line-height:150%;text-decoration:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.control-treeview ol li.snippet-item > div:before{content:' ';background-image:url(../images/treeview-icons.png);background-position:0px -28px;background-repeat:no-repeat;background-size:42px auto;position:absolute;width:21px;height:22px;left:28px;top:15px}
.control-treeview ol li.snippet-item > div span.comment{display:block;font-weight:400;color:#95a5a6;font-size:13px;margin-top:2px;overflow:hidden;text-overflow:ellipsis}
.control-treeview ol li.snippet-item > div > span.expand{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;display:none;position:absolute;width:20px;height:20px;top:19px;left:2px;cursor:pointer;color:#bdc3c7;-webkit-transition:transform 0.1s ease;transition:transform 0.1s ease}
.control-treeview ol li.snippet-item > div > span.expand:before{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;content:"\f0da";line-height:100%;font-size:15px;position:relative;left:8px;top:2px}
.control-treeview ol li.snippet-item > div > span.drag-handle{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;-webkit-transition:opacity 0.4s;transition:opacity 0.4s;position:absolute;right:9px;bottom:0;width:18px;height:19px;cursor:move;color:#bdc3c7;opacity:0;filter:alpha(opacity=0)}
.control-treeview ol li.snippet-item > div > span.drag-handle:before{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;content:"\f0c9";font-size:18px}
.control-treeview ol li.snippet-item > div span.borders{font-size:0}
.control-treeview ol li.snippet-item > div > ul.submenu{position:absolute;left:20px;bottom:-37px;padding:0;list-style:none;z-index:200;height:37px;display:none;margin-left:15px;background:transparent url(../images/treeview-submenu-tabs.png) repeat-x left -39px}
.control-treeview ol li.snippet-item > div > ul.submenu:before,.control-treeview ol > li > div > ul.submenu:after{background:transparent url(../images/treeview-submenu-tabs.png) no-repeat left top;content:' ';display:block;width:20px;height:37px;position:absolute;top:0}
.control-treeview ol li.snippet-item > div > ul.submenu:before{left:-20px}
.control-treeview ol li.snippet-item > div > ul.submenu:after{background-position:-100px top;right:-20px}
.control-treeview ol li.snippet-item > div > ul.submenu li{font-size:12px}
.control-treeview ol li.snippet-item > div > ul.submenu li a{display:block;padding:4px 3px 0 3px;color:#ffffff;text-decoration:none;outline:none}
.control-treeview ol li.snippet-item > div > ul.submenu li a i{margin-right:5px}
.control-treeview ol li.snippet-item > div:hover > ul.submenu{display:block}
.control-treeview ol li.snippet-item > div:active > ul.submenu{background-position:left -116px}
.control-treeview ol li.snippet-item > div:active > ul.submenu:before{background-position:left -77px}
.control-treeview ol li.snippet-item > div:active > ul.submenu:after{background-position:-100px -77px}
.control-treeview ol li.snippet-item > div .checkbox{position:absolute;top:-2px;right:0}
.control-treeview ol li.snippet-item > div .checkbox label{margin-right:0}
.control-treeview ol li.snippet-item > div .checkbox label:before{border-color:#cccccc}
.control-treeview ol li.snippet-item > div.popover-highlight{background-color:#4ea5e0 !important}
.control-treeview ol li.snippet-item > div.popover-highlight:before{background-position:0px -80px}
.control-treeview ol li.snippet-item > div.popover-highlight > a{color:#ffffff !important;cursor:default}
.control-treeview ol li.snippet-item > div.popover-highlight span{color:#ffffff !important}
.control-treeview ol li.snippet-item > div.popover-highlight > ul.submenu,
.control-treeview ol li.snippet-item > div.popover-highlight > span.drag-handle{display:none !important}
.control-treeview ol li.snippet-item.dragged div,
.control-treeview ol li.snippet-item > div:hover{background-color:#4ea5e0 !important}
.control-treeview ol li.snippet-item.dragged div > a,
.control-treeview ol li.snippet-item > div:hover > a{color:#ffffff !important}
.control-treeview ol li.snippet-item.dragged div:before,
.control-treeview ol li.snippet-item > div:hover:before{background-position:0px -80px}
.control-treeview ol li.snippet-item.dragged div:after,
.control-treeview ol li.snippet-item > div:hover:after{top:0 !important;bottom:0 !important}
.control-treeview ol li.snippet-item.dragged div span,
.control-treeview ol li.snippet-item > div:hover span{color:#ffffff !important}
.control-treeview ol li.snippet-item.dragged div span.drag-handle,
.control-treeview ol li.snippet-item > div:hover span.drag-handle{cursor:move;opacity:1;filter:alpha(opacity=100)}
.control-treeview ol li.snippet-item.dragged div span.borders,
.control-treeview ol li.snippet-item > div:hover span.borders{display:none}
.control-treeview ol li.snippet-item > div:active{background-color:#3498db !important}
.control-treeview ol li.snippet-item > div:active > a{color:#ffffff !important}
.control-treeview ol li.snippet-item[data-no-drag-mode] div:hover span.drag-handle{cursor:default !important;opacity:0.3 !important;filter:alpha(opacity=30) !important}
.control-treeview ol li.snippet-item.dragged li.has-subitems > div:before,
.control-treeview ol li.snippet-item.dragged.has-subitems > div:before{background-position:0px -52px}
.control-treeview ol li.snippet-item.dragged div > ul.submenu{display:none !important}
.control-treeview ol li.snippet-item > ol{padding-left:20px;padding-right:20px}
.control-treeview ol li.snippet-item[data-status=collapsed] > ol{display:none}
.control-treeview ol li.snippet-item.has-subitems > div:before{background-position:0 0;width:23px;height:26px;left:26px}
.control-treeview ol li.snippet-item.has-subitems > div:hover:before,
.control-treeview ol li.snippet-item.has-subitems > div.popover-highlight:before{background-position:0px -52px}
.control-treeview ol li.snippet-item.has-subitems > div span.expand{display:block}
.control-treeview ol li.snippet-item.placeholder{position:relative;opacity:0.5;filter:alpha(opacity=50)}
.control-treeview ol li.snippet-item.dragged{position:absolute;z-index:2000;opacity:0.25;filter:alpha(opacity=25)}
.control-treeview ol li.snippet-item.dragged > div{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.control-treeview ol li.snippet-item.drop-target > div{background-color:#2581b8 !important}
.control-treeview ol li.snippet-item.drop-target > div > a{color:#ffffff}
.control-treeview ol li.snippet-item.drop-target > div > a > span.comment{color:#ffffff}
.control-treeview ol li.snippet-item.drop-target > div:before{background-position:0px -80px}
.control-treeview ol li.snippet-item.drop-target.has-subitems > div:before{background-position:0px -52px}
.control-treeview ol li.snippet-item[data-status=expanded] > div > span.expand{-webkit-transform:rotate(90deg) translate(0,0);-ms-transform:rotate(90deg) translate(0,0);transform:rotate(90deg) translate(0,0)}
.control-treeview ol li.snippet-item.drag-ghost{background-color:transparent;box-sizing:content-box}
.control-treeview ol li.snippet-item.active > div{background:#dddddd}
.control-treeview ol li.snippet-item.active > div:after{position:absolute;width:4px;left:0;top:-1px;bottom:-1px;background:#e67e22;display:block;content:' '}
.control-treeview ol li.snippet-item.active > div > span.comment,
.control-treeview ol li.snippet-item.active > div > span.expand{color:#8f8f8f}
.control-treeview ol li.snippet-item.active > div > span.borders:before,
.control-treeview ol li.snippet-item.active > div > span.borders:after{content:' ';position:absolute;width:100%;height:1px;display:block;left:0;background-color:#dddddd}
.control-treeview ol li.snippet-item.active > div > span.borders:before{top:-1px}
.control-treeview ol li.snippet-item.active > div > span.borders:after{bottom:-1px}
.control-treeview ol li.snippet-item.no-data{padding:18px 0;margin:0;color:#666666;font-size:14px;text-align:center;font-weight:400}

.control-treeview.treeview-light ol li.snippet-item > div{background-color:transparent;border-bottom:none}
.control-treeview.treeview-light ol li.snippet-item > div:before{top:15px}
.control-treeview.treeview-light ol li.snippet-item > div > a{padding-top:10px;padding-bottom:10px}
.control-treeview.treeview-light ol li.snippet-item > div span.expand{top:19px}
.control-treeview.treeview-light ol li.snippet-item > div > span.drag-handle{top:0;right:0;bottom:auto;height:100%;width:60px;background:#2581b8;-webkit-transition:none !important;transition:none !important}
.control-treeview.treeview-light ol li.snippet-item > div > span.drag-handle:before{position:absolute;left:50%;top:50%;margin-left:-6px}
.control-treeview.treeview-light ol li.snippet-item > div > ul.submenu{right:60px;left:auto;bottom:auto;top:0;height:100%;margin:0;background:transparent;white-space:nowrap;font-size:0}
.control-treeview.treeview-light ol li.snippet-item > div > ul.submenu:before,.control-treeview.treeview-light ol > li > div > ul.submenu:after{display:none}
.control-treeview.treeview-light ol li.snippet-item > div > ul.submenu li{height:100%;display:inline-block;background:#2581b8;border-right:1px solid #328ec8}
.control-treeview.treeview-light ol li.snippet-item > div > ul.submenu li p{display:table;height:100%;padding:0;margin:0}
.control-treeview.treeview-light ol li.snippet-item > div > ul.submenu li p a{display:table-cell;vertical-align:middle;height:100%;padding:0 20px;font-size:13px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.control-treeview.treeview-light ol li.snippet-item > div > ul.submenu li p a i.control-icon{font-size:22px;margin-right:0}