<script type="text/javascript">
    jumplink = window.jumplink || {};
    jumplink.templates = window.jumplink.templates || {};

    jumplink.templates['rv-select'] = '<?= $this->makeTrimedPartial("components/rv-select") ?>';
    jumplink.templates['rv-checkbox'] = '<?= $this->makeTrimedPartial("components/rv-checkbox") ?>';

    jumplink.templates['items'] = '<?= $this->makeTrimedPartial("components/items") ?>';
    jumplink.templates['itemlist'] = '<?= $this->makeTrimedPartial("components/itemlist") ?>';
    jumplink.templates['item'] = '<?= $this->makeTrimedPartial("components/item") ?>';

</script>