<script type="text/javascript">
    jumplink = window.jumplink || {};
    jumplink.templates = window.jumplink.templates || {};

    jumplink.templates['rv-select'] = '<?= $this->makeTrimedPartial("components/rv-select") ?>';
    jumplink.templates['rv-checkbox'] = '<?= $this->makeTrimedPartial("components/rv-checkbox") ?>';

    jumplink.templates['snippet-editor'] = '<?= $this->makeTrimedPartial("components/snippet-editor") ?>';
    jumplink.templates['snippet-itemlist'] = '<?= $this->makeTrimedPartial("components/snippet-itemlist") ?>';
    jumplink.templates['snippet-item'] = '<?= $this->makeTrimedPartial("components/snippet-item") ?>';

</script>